@import '../../foundation/variable';

.p-todoList {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  .p-listItem {
    overflow: hidden;
    padding: 15px 15px;
    background: $bgColor-white;
    border-bottom: 1px solid $borderColor;
    transition: 0.5s transform;

    &:hover {
      transform: scale(1.02);
      transition: 0.5s transform;
    }

    &__iconTick {
      color: $icon-check;
      margin-right: 3px;
    }

    &__iconBin {
      float: right;
      color: $icon-bin;
    }

    &__text {
      width: 80%;
      height: 100%;
      border: none;
      padding: 5px 10px;
      font-size: 1rem;
    }

    &__editText {
      display: none;
      width: 80%;
      height: 100%;
      border: none;
      padding: 5px 10px;
      font-size: 1rem;
    }
  }

  .p-listItem--done {
    background: $bgColor-sub;
    color: #888;
  }

  &__editText--done {
    display: none;
    height: 100%;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    background: $bgColor-sub;

    input {
      background: $bgColor-sub;
    }
  }
}
